<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Python Saya</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Halo dari Flask!</h1>
      <p>Halaman ini sudah terhubung dengan CSS dan JS.</p>
      <button onclick="sapaUser()">Klik Saya</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
